body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 75%;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: aliceblue;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
